<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to process to clean</h4>

            <h6>Step 1: Navigate to "Lost and found" Screen</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/hk/hk-lost-n-found-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: Add a new record to describe the lost thing</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/hk/hk-lost-n-found-2.png" class="w-80 mx-auto">
            </div>

            <h5>Functions:</h5>

            <p>
                <strong>Add</strong> to add a new lost and found record
            </p>

        </div>
    </div>
</div>