<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to pay</h4>

            <h6>Step 1: Click Pre check button</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/fnb/fnb-pay-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: Review the details</h6>

            <p>This step allow user can review the order one more time and print the detail of order to customer</p>

            <div class="col-12 text-center">
                <img src="assets/images/fnb/fnb-pay-2.png" class="w-80 mx-auto">
            </div>

            <h6>Step 3: Print the detail</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/fnb/fnb-pay-3.png" class="w-80 mx-auto">
            </div>

            <h6>Step 4: Do payment</h6>

            <p>There are 2 options to pay this bill: directly or post to room</p>

            <h6>Step 4.1: Pay directly</h6>

            <p>There are so many methods to pay, such as: Cashes, Credit, Transfer, ...</p>
            <p>Additional, the system can allow to pay mutil type of pay by click icon "+"</p>
            <div class="col-12 text-center">
                <img src="assets/images/fnb/fnb-pay-4.png" class="w-80 mx-auto">
            </div>

            <h6>Step 4.2: Post to room</h6>
            <div class="col-12 text-center">
                <img src="assets/images/fnb/fnb-pay-5.png" class="w-80 mx-auto">
            </div>
            <h5>Functions:</h5>

            <p>
                <strong>Remove</strong> to delete item out of the list
            </p>
            <p>
                <strong>Confirm</strong> to lock the dish and send notify to kitchen
            </p>
            <p>
                <strong>Delivered</strong> already serve that dish to the customer
            </p>
            <p>
                <strong>Cancel</strong> to void the dishes. The use have to choose a reason to void that dish
            </p>
        </div>
    </div>
</div>