<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to Checkin when guests arrive</h4>

            <h6>Step 1: Navigate to "List reservations" screen and search the reservation</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-list-2.png" class="w-80 mx-auto">
            </div>

            <h6>Step 2: Open Checkin popup by clicking the "Check in" Button</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-checkin-1.png" class="w-80 mx-auto">
            </div>

            <h6>Step 3: Assign room</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-checkin-2.png" class="w-80 mx-auto">
            </div>

            <h6>Step 4: Input missing information of guests and upload photos</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-checkin-5.png" class="w-80 mx-auto">
            </div>

            <h5>Functions:</h5>

            <p>
                <strong>Print reservation</strong> open the popup to print "REGISTRATION CARD"
            </p>
        </div>
    </div>
</div>