<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to create new Reservation</h4>

            <h6>Step 1: Navigate to "Create Booking" Screen</h6>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/step_1.png" class="w-80 mx-auto">
            </div>

            <h6>Step 2: Input Booking infomation</h6>

            <ul>
                <li>
                    <strong>Arrive time</strong> Pick the date guest want to check-in
                </li>
                <li>
                    <strong>Departure time</strong> Pick the date guest want to check-out
                </li>
                <li>
                    <strong>Room type</strong> Choose a room type of list
                </li>
                <li>
                    <strong>Adults</strong> Input a number of adults
                </li>
                <li>
                    <strong>Children</strong> Input a number of children
                </li>
                <li>
                    <strong>Accommodation service</strong> there are 2 type of Accommodation: Long term and short term
                </li>
                <li>
                    <strong>Guest types</strong>
                </li>
                <li>
                    <strong>Agency</strong>
                </li>
                <li>
                    <strong>Rate code</strong> Depend on the chosen rate code, the price will show
                </li>
                <li>
                    <strong>Payment method</strong>
                </li>
                <li>
                    <strong>Room discount by rank</strong> there are 2 types of discount: pecent or amount
                </li>
                <li>
                    <strong>Status</strong> there are 3 statuses: definite, tentative, waiting
                </li>
                <li>
                    <strong>Release time</strong> If the status is "Tentative", you should choose the time to release
                    that room
                </li>
            </ul>


            <div class="col-12 text-center">
                <img src="assets/images/reservation/step_2.png" class="w-80 mx-auto">
            </div>

            <h6>Step 3: Input Guest infomation</h6>

            <ul>
                <li>
                    <strong>Full name</strong>
                </li>
                <li>
                    <strong>Phone number</strong>
                </li>
                <li>
                    <strong>Email</strong>
                </li>
                <li>
                    <strong>Gender</strong>
                </li>
                <li>
                    <strong>ID Card</strong>
                </li>
                <li>
                    <strong>Passport</strong>
                </li>
                <li>
                    <strong>Passport expried date</strong>
                </li>
                <li>
                    <strong>Nationality</strong>
                </li>
            </ul>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/step_3.png" class="w-80 mx-auto">
            </div>


            <h5>Functions:</h5>

            <p>
                <strong>Select Room</strong> Assign specific room to this reservation
            </p>
            <p>
                <strong>Deposit</strong> Open the deposit popup
            </p>
            <p>
                <strong>Open price</strong> Allow adjust the price directly
            </p>
            <p>
                <strong>Additional services</strong> open the popup to allow add more services.
            </p>
            <p>
                <strong>Upload image</strong> open the popup to upload customer document images.
            </p>

            <p>
                <strong>Save reservation and Print</strong> all input datas will be save and open the popup to print
                "REGISTRATION CARD"
            </p>

            <p>
                <strong>Save reservation</strong> all input datas will be save
            </p>

            <h5>Exercise:</h5>

            <p>
                <strong>Tom</strong> and his family want to stay a hotel 2 nights in the next weekend. 
                He would like reservation 2 rooms, one for 2 his sons, and one for he, his wife and a litle daughter.
                He also prefer include breakfast too. Please create those reservations.
            </p>
        </div>
    </div>
</div>