<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to create new Reservation</h4>

            <h6>Step 1: Navigate to "Create Booking" Screen</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/step_1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: Input Booking infomation</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/step_2.png" class="w-80 mx-auto">
            </div>

            <h6>Step 3: Input Guest infomation</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/step_3.png" class="w-80 mx-auto">
            </div>

            <h5>Functions:</h5>

            <p>
                <strong>Save reservation and Print</strong> all input datas will be save and open the popup to print "REGISTRATION CARD"
            </p>

            <p>
                <strong>Save reservation</strong> all input datas will be save
            </p>
        </div>
    </div>
</div>