<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to order dishes</h4>

            <h6>Step 1: Navigate to "Hall plan" Screen</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/fnb/fnb-process-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: Open the table</h6>

            <p>Choose the table and input the number of guests</p>

            <div class="col-12 text-center">
                <img src="assets/images/fnb/fnb-process-2.png" class="w-80 mx-auto">
            </div>

            <h6>Step 3: Pick the dishes</h6>

            <p>On the left hand area, choose the dish and input the quality, thereafter click icon "+"</p>

            <div class="col-12 text-center">
                <img src="assets/images/fnb/fnb-process-4.png" class="w-80 mx-auto">
            </div>

            <h6>Step 4: Add more Modifiers (if needed)</h6>

            <p>Firstly, select the item</p>
            <p>Secondly, navigation Modifiers tab</p>
            <p>Finally, add the options to that dish</p>

            <div class="col-12 text-center">
                <img src="assets/images/fnb/fnb-process-6.png" class="w-80 mx-auto">
            </div>

            <h5>Functions:</h5>

            <p>
                <strong>Remove</strong> to delete item out of the list
            </p>
            <p>
                <strong>Confirm</strong> to lock the dish and send notify to kitchen
            </p>
            <p>
                <strong>Delivered</strong> already serve that dish to the customer
            </p>
            <p>
                <strong>Cancel</strong> to void the dishes. The use have to choose a reason to void that dish
            </p>
        </div>
    </div>
</div>