<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to search Reservation</h4>

            <h6>Step 1: Navigate to "List reservations" Screen</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-list-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: Input params to search</h6>

            <ul>
                <li>
                    <strong>Booking code</strong>
                </li>
                <li>
                    <strong>Full name</strong>
                </li>
                <li>
                    <strong>Range time</strong> there are many options to find reservations: Today, Tommorow, This Week, This month, or Custom.
                </li>
            </ul>


            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-list-2.png" class="w-80 mx-auto">
            </div>


            <h5>Functions:</h5>

            <p>
                <strong>Check in</strong> 
            </p>
            <p>
                <strong>Edit</strong> open the detail reservation and allow to update that information. 
            </p>
            <p>
                <strong>Change status</strong> 
            </p>
            <p>
                <strong>Clones</strong> create the same reservation by chosen one.
            </p>
            <p>
                <strong>Dates</strong> 
            </p>
            <p>
                <strong>History</strong> open a popup that contain the user activity logs
            </p>

        </div>
    </div>
</div>