<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to search Reservation</h4>

            <h6>Step 1: Navigate to "List reservations" Screen</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-list-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: Input params to search</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-list-2.png" class="w-80 mx-auto">
            </div>


            <h5>Functions:</h5>

            <p>
                <strong>Check in</strong> 
            </p>
            <p>
                <strong>Edit</strong>
            </p>
            <p>
                <strong>Change status</strong>
            </p>
            <p>
                <strong>Clones</strong>
            </p>
            <p>
                <strong>Dates</strong>
            </p>
            <p>
                <strong>History</strong>
            </p>

        </div>
    </div>
</div>