<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to add discount to the bill</h4>

            <h6>Step 1: Navigate tab "Discounts"</h6>


            <h6>Step 2: Add discount</h6>
            <h6>Step 2.1: Add discount for total bill</h6>
            <p>Expand "Order discounts", There are a list of discount could apply for the total bill</p>
            <p>Select one of them to active discount to the current bill</p>

            <div class="col-12 text-center">
                <img src="assets/images/fnb/fnb-discount-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2.1: Add discount for specific dish</h6>

            <p>Firstly, Select the dish which will be discounted</p>
            <p>Secondly, Choose one of list items discount on "Dish discounts" area</p>
            <div class="col-12 text-center">
                <img src="assets/images/fnb/fnb-discount-2.png" class="w-80 mx-auto">
            </div>

        </div>
    </div>
</div>