<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to assign room to housekeeper</h4>

            <h6>Step 1: Navigate to "Task Assignment" Screen</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/hk/hk-task-assignment-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: Assign room to housekeeper</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/hk/hk-task-assignment-2.png" class="w-80 mx-auto">
            </div>


            <h5>Functions:</h5>

            <p>
                <strong>Update</strong> to change status of room
            </p>

            <p>
                <strong>Assign</strong> to assign that room to the choosen housekeeper
            </p>
        </div>
    </div>
</div>