<div class="grid">
    <div class="col-12">
        <div class="card docs">
            <div class="dashboard-search">

                <h2>Hello, what can we help you find?</h2>


                <span class="p-input-icon-right">
                    <input type="text" pInputText placeholder="Search" class="dashboard-search__input" />
                    <i class="pi pi-search"></i>
                </span>
            </div>


			<p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" layout="list">
				
				<ng-template let-product pTemplate="listItem">
					<div class="col-12">
						<div class="flex flex-column md:flex-row align-items-center p-3 w-full">
							<div class="flex-1 text-center md:text-left">
								<div class="font-bold text-2xl">{{product.name}}</div>
							</div>
							<div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
								<span class="text-2xl font-semibold mb-2 align-self-center md:align-self-end">{{product.date}}</span>
							</div>
						</div>
					</div>
				</ng-template>

			</p-dataView>
        </div>
    </div>
</div>