<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to add services during guests stay</h4>

            <h6>Step 1: Navigate to "Services" Screen and do "Pay all"</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-checkout-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: Make sure the balance is 0</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-checkout-2.png" class="w-80 mx-auto">
            </div>

            <h6>Step 3: Print invoice</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-checkout-3.png" class="w-80 mx-auto">
            </div>


            <h5>Functions:</h5>

            <p>
                <strong>Checkout</strong> to end this reservation and release that room
            </p>
        </div>
    </div>
</div>