<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to add services during guests stay</h4>

            <h6>Step 1: Navigate to "Services" Screen</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-services-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: Search services and add to this reservation</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/retail-services-2.png" class="w-80 mx-auto">
            </div>


            <h5>Functions:</h5>

            <p>
                <strong>Deposit</strong> open Deposit popup to record how much money guest deposit
            </p>
            <p>
                <strong>Paid out</strong> open PAID OUTS popup to print the invoice the amount of money that return to guests
            </p>
            <p>
                <strong>Pay multi services</strong> allow pay one or multi services as user choose above
            </p>
        </div>
    </div>
</div>