<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to add services during guests stay</h4>

            <h6>Step 1: Navigate to "Create booking" Screen</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/group-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: Input the group data</h6>

            <p></p>

            <h6>Step 2.1: Input the register information</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/group-2.png" class="w-80 mx-auto">
            </div>

            <h6>Step 2.2: Input the sales information</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/group-3.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2.3: Input the billing information</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/group-4.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2.4: Add the contact information</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/group-5.png" class="w-80 mx-auto">
            </div>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/group-6.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2.5: Add the Guest information</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/group-7.png" class="w-80 mx-auto">
            </div>
            
            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/reservation/group-8.png" class="w-80 mx-auto">
            </div>

            <!-- <h5>Functions:</h5>

            <p>
                <strong>Detail</strong> to open the detail popup of this transaction
            </p> -->
            <!-- <p>
                <strong>Delete</strong> to change the status of this transation to "delete"
            </p> -->
        </div>
    </div>
</div>