<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to process to clean</h4>

            <h6>Step 1: [Housekeeper] Navigate to "Room to clean" Screen</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/hk/hk-room-to-clean-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: [Housekeeper] process to clean and mark done</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/hk/hk-room-to-clean-2.png" class="w-80 mx-auto">
            </div>

            <h6>Step 3: [Supervisor] double check in "Room condition" screen</h6>

            <h6>Step 3.1: [Supervisor] mark "Checked" if the room is well cleaned</h6>
            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/hk/hk-room-to-clean-3.png" class="w-80 mx-auto">
            </div>

            <h6>Step 3.2: [Supervisor] mark "Reopened" and fill the note to this room if the room is badly cleaned</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/hk/hk-room-to-clean-5.png" class="w-80 mx-auto">
            </div>

            <h5>Functions:</h5>

            <p>
                <strong>Process</strong> to start clean choosen room
            </p>

            <p>
                <strong>Upload</strong> to upload photos of that room. For example: breaking lamp photo
            </p>
        </div>
    </div>
</div>