<div class="grid">
    <div class="col-12">
        <div class="card docs">

            <h4>How to update the status of room</h4>

            <h6>Step 1: Navigate to "Room Status" Screen</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/hk/room-status-1.png" class="w-80 mx-auto">
            </div>


            <h6>Step 2: Change room status by clicking "Update room status" button</h6>

            <p></p>

            <div class="col-12 text-center">
                <img src="assets/images/hk/room-status-2.png" class="w-80 mx-auto">
            </div>

            <h5>Functions:</h5>

            <p>
                <strong>Update room status</strong> to open Room status popup to allow change status of room
            </p>

        </div>
    </div>
</div>